@charset "UTF-8";

/* ________ general formatting ________ */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #C7D4C5;
}


/* ________ main content ________ */

.main-content {
    display: block;
    width: 500px;
    height: 700px;
    margin: 80px auto 0 auto;
    background-color: aqua;
}

#main-content-title-box {
    display: block;
    width: 100%;
    height: 60px;
    color: #FF0101;
}

#main-content-title {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 0 0 10px 0;
}


/*________ form ________*/

#main-content-form {
    display: block;
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: blueviolet;
}


/* ________ p-box ________*/

.p-form {
    display: block;
    width: 100%;
    height: 50px;
    background-color: brown;
}


/* ________ input's ________ */

.alone-form-items {
    width: 100%;
    height: 100%;
    text-indent: 10px;
    border: 0;
    border-radius: 1px;
    font-family: 'Quicksand', sans-serif;
    color: #FF0101;
}

.form-items {
    width: 100%;
    height: 100%;
    text-indent: 10px;
    border: 0;
    border-radius: 1px;
    font-family: 'Quicksand', sans-serif;
    color: #FF0101;
}