@charset "UTF-8";

/* ____ general formatting ____ */

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #e9e9e9;
}


/* ____ main-content formatting ____ */

#main-content {
    display: block;
    width: 400px;
    height: 500px;
    margin: 30px auto 0 auto;
}

.main-content-title {
    display: block;
    width: 400px;
    height: 50px;
    padding: 0 0 40px 0;
}

.main-content-title h1 {
    text-align: center;
    font-size: 60px;
    color: #1d1d1d;
}


/* ____ form1 formatting ____ */

.form1-box {
    display: block;
    width: 100%;
    height: 400px;
}

#form1 {
    width: 100%;
    height: 100%;
    margin: 40px 0 0 0;
}

.input-numbers-p {
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 20px 0 0 0;
}

.input-numbers {
    width: 220px;
    height: 50px;
    margin: 0 0 0 10px;
    font-family: 'Chakra Petch', sans-serif;
    color: #FF7100;
    font-size: 16px;
    border: transparent;
    border-radius: 1px;
    text-indent: 5px;
    transition: background-color 0.5s;
}

.input-numbers:hover {
    background-color: #a8a8a8;
}

.input-numbers-p label {
    display: none;
    width: 100%;
    height: 100%;
}

#operations-list {
    width: 400px;
    height: 150px;
    padding: 0;
    list-style: none;
    margin: 50px 0 0 0;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
}

.right {
    width: 50%;
    height: 100%;
    float: right;
}

.operations-input-li {
    width: 90%;
    height: 60px;
    background-color: #FF7100;
    text-align: center;
    margin: auto;
    border-radius: 1px;
    transition: all 0.5s;
}

.operations-input-li:hover {
    background-color: #1d1d1d;
    color: #fbfbfb;
}

.operations-input-li label {
    font-size: 36px;
}

.operations-input {
    width: 100%;
    height: 100%;
    display: none;
}

#division-input-li,
#less-input-li {
    margin-top: 20px;
}


/* ____ submit-button formatting ____ */

#submit-button-box {
    width: 95%;
    height: 60px;
    margin: 40px auto 0 auto;
}

#submit-button {
    width: 100%;
    height: 100%;
    border: transparent;
    border-radius: 1px;
    background-color: #1d1d1d;
    color: #e9e9e9;
    transition: all 0.5s;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
}

#submit-button:hover {
    background-color: #e9e9e9;
    color: #1d1d1d;
}


/* ____ secondary-content formatting ____ */

#secondary-content {
    display: block;
    width: 800px;
    height: 250px;
    margin: 100px auto 0 auto;
}

.secondary-content-title {
    display: block;
    width: 100%;
    height: 80px;
}

.secondary-content-title h1 {
    font-size: 50px;
    text-align: center;
    color: #1d1d1d;
}

.operation-answer {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 32px;
}


/* ____ back-button formatting ____ */

#back-button-box {
    display: block;
    width: 100%;
    height: 40px;
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 18px;
}

#back-button-box a {
    text-decoration: none;
    color: #FF7100;
    transition: color 0.5s;
}

#back-button-box a:hover {
    color: #1d1d1d;
}